    img.logoUmssCss {
    margin: -9vw 0 0 5%;
    height: 12.3vw;
    }
    img {
    vertical-align: middle;
    border-style: none;
    }

    .portada {
border-color: black;
background-color: black;
padding-block-end: 1px;
    }
    .textos{
        text-align: center;
        font-size: 60px;
        
    }
    .avisos {
    border: black 2px solid;
    padding-top: 0;
    text-align: center;
    background-color:rgba(33,95,136,255);

    }
    .avisotes {
    border: black 2px solid;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    }
    .card {
    border: black 2px solid;
    padding-left: 10px;
    background-color: #DDDDDD;
    }
   
    .cardazo {
        border: black 2px solid;
        border-radius: 20px;
        margin-bottom: 20px;
        padding-left: 10px;
        background-color: #fff3cd;
    }
    .cards {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 150px;
    
    }
    .inicio{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 150px;
      
    }
    .inicio1{
        border: black 2px solid;
        border-radius: 20px;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        
        }
    .inicio2{
        margin-left: 200px;
        margin-right: 200px;
    }
    .textL{
        text-align: center;
    }
   
    .pie {
    margin-top: 0px;
    background-color: aquamarine;
    }
    .navg a {
    color: black;
    background-color: #007bdc;
    font-size: 23px;
    padding: 10px 400px;
    text-align: center;
    text-transform: uppercase;
    }
.footer{
    background-color: #215f88;
    margin-top: 250px;
    
}
body{
    overflow-x: hidden;
 }
.sinEmp{
    margin-top: 200px;
    margin-bottom: 200px;
}
/* NOTIFICACION */

a.fa-bell {
    position: relative;
    font-size: 2em;
    color: grey;
    cursor: pointer;
    font-size: 30px;
  }
  span.fa-comment {
    position: absolute;
    font-size: 0.8em;
    top: -4px;
    color: red;
    right: -4px;
    margin-top:5px;
  }
  span.num {
    position: absolute;
    font-size: 0.5em;
    top: 1px;
    color: #fff;
    right: 4px;
    margin-top: 4px;
  }
