.formulario{
padding-bottom: 100px;
padding-left: 20px;
padding-right: 20px;
}
.formA{
    background-color: #DDDDDD;

}
.formFunda{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.tablaL{
    background: #215f88;
    color: #ffff;
}
.tabla{
    background-color: #DDDDDD;
    
}
