.formulario {
    background: rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    color: white;
    
}

.form-control {
    background: rgba(0, 0, 0, .3);
    border-style:none;
    transition: 0.5s ease-in;
    outline: none;
    box-shadow: none;
}

.form-control:focus {
    background: none;
    box-shadow: none;
    outline: none;
}

.form-control::placeholder {
    color: black;
}

.ingresar {
    background: #215f88;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    transition: 0.5s ease-in;
}

.ingresar:hover {
    color: white;
}
.caja{
padding-bottom: 100px;

}
